.bg{
  background-image: url('../template.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.card{
    width:380px;
    align-content:space-around;
    margin-left: 850px;
  }
.cards{
  border-radius: 20px;
  background-color: #e3eef1;
}
.e, .o, .p, .s{
    margin-bottom: 1rem; 
  }
  
  #label {
    display: block;
    margin-bottom: 0.1rem; 
    font-size: 15px;
    text-align: left;
    margin-left: 60px;
  }
#title{
  text-align: center;
}
.p-error {
  color: red;
  font-size: 0.875rem; 
  margin-top: 0.25rem; 
}
.dropdown{
  width:210px
}
#box{
  border-radius: 10px;
}
.submitted-message{
  color:green;
}
